<!DOCTYPE html>
<html>

<head>
  <title>What's in my City | Disclaimer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</head>
<body>

<nav class="navbar navbar-inverse"  data-offset-top="197" style="height: 100px">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" height="70" width="200"/></a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <form class="form-inline">

          <div class="form-group button_grop" style="float: right">
            <button type="submit" class="btn btn-primary " (click) = "onClick()" id="login">Logout</button>


          </div>
        </form>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">


      <!--Carousel starts here-->


      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">




          <img src="../../assets/images/terms-and-conditions-recropped.jpg" height="550px" width="1140px" style="margin-bottom: 20px"/></div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 40px">
          <div class="panel panel-info">
            <div class="panel-heading" style="text-align: center">Terms of Service</div>
            <div class="panel-body"><p>The information contained in this website is for general information purposes only. The information is provided by What's in my City and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>

              <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>

              <p>Through this website you are able to link to other websites which are not under the control of What's in my City. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>

              <p>Every effort is made to keep the website up and running smoothly. However, What's in my City takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p></div>
          </div>


        </div>





      </div>


    </div>
  </div>
</div>






<!--Footer starts here-->
<div class="container-fluid" style="background-color: black">
  <div class="ftr col-lg-offset-4 col-md-offset-4 col-lg-8 col-md-8 col-sm-12 col-xs-12">

    <h4>General Information</h4>


    <a href="#" data-toggle="tooltip" data-placement="bottom">
      About Us |</a>
    <a href="#" data-toggle="tooltip" data-placement="bottom">
      Contact Us |</a>

    <a href="#" data-toggle="tooltip" data-placement="bottom">Disclaimer |</a>

  </div>


  <div class="listofcities">
    <br>
    <p style="color:#000000;margin: auto"><i>What's in my city? &copy;</i></p>

  </div>

  <!--Footer ends here-->
</div>

</body>
</html>
