#signupError,#emailError,#nameError,#msgError,#phoneError{
  color:#F00;
}

#headerTest{
  align-items: center;
  text-align: center;
}

modal {
  /* This way it could be display flex or grid or whatever also. */
  display: block;
  /* Probably need media queries here */
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 9000;
  left: 50%;
  top: 50%;
  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: absolute;
  top: 10%;
}

.listofcities a{
  text-decoration: none;
  color: #ffffff;
}

