<!DOCTYPE html>
<html>

<head>
  <title>What's in my City | About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</head>
<body>
<nav class="navbar navbar-inverse"  data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">

      <a [routerLink]="['/home']" class="navbar-brand">What's in my City?</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <form class="form-inline">

          <div class="form-group button_grop">
            <button type="submit" class="btn btn-primary " (click) = "onClick()" id="login">Login</button>
            <button type="submit" class="btn btn-warning " id="signup">Sign-up</button>


          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-8 col-xs-4">


      <!--Carousel starts here-->

      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <img src="../../assets/images/aboutus.jpg" height="500" width="1200"/>

            <div class="ourMission" style="margin-left: 200px">

              <h2>Our website helps people by:</h2>

              <h2><b>Helping people discover great places around them</b></h2>
              <p>Our website uses location of users to provide them with details of restaurents, shopping outlets, events, places of interest.</p>
              <h2><b>Building amazing experiences</b></h2>
              <p>The website provides users an enriching experience</p>
              <p></p>
              <p></p>
              <p></p>

            </div>

            <div class="ourLocations" >
              <h2 style="margin-left: 200px">From Bangalore to Boston, we provide </h2>
              <div class="row">

                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" style="border-right: 2px solid #000000">


                  <img src="../../assets/images/usamapfinal.jpg" height="600" width="680"/></div>

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">


                  <img src="../../assets/images/indiaMapfinal.jpg" height="750" width="500"/></div>

              </div>

            </div>


            <div class="ourTeam">

              <h1 style="margin-left: 500px">Our Team</h1>

                <div class="row">
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <a href="/w3images/lights.jpg" target="_blank">
                        <img src="/w3images/lights.jpg" alt="sumanth" style="width:100%"> </a>
                      <div class="caption">
                        <p>Sumanth HG</p>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <a href="/w3images/nature.jpg" target="_blank">
                        <img src="/w3images/nature.jpg" alt="sravya" style="width:100%"> </a>
                      <div class="caption">
                        <p>Sravya Yella</p>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="thumbnail">
                      <a href="/w3images/fjords.jpg" target="_blank">
                        <img src="/w3images/fjords.jpg" alt="nidhi" style="width:100%"></a>
                      <div class="caption">
                        <p>Nidhi Sarode</p>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="thumbnail">
                      <a href="/w3images/fjords.jpg" target="_blank">
                        <img src="/w3images/fjords.jpg" alt="rishi" style="width:100%"></a>
                      <div class="caption">
                        <p>Rishi Nandedkar</p>
                      </div>

                    </div>
                  </div>
                </div>

            </div>

          </div>
        </div>
      </div>

      <!--Footer starts here-->
      <div class="container-fluid" >


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid customfooter">

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 foursections">

            <div class="col-lg-offset-5 col-md-offset-5 col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">

              <h3>General Information</h3>
              <!--<a href="">About Us</a> <br> <a href="">Contact Us</a><br> <a href="">Blogs</a><br><a href="">Disclaimer</a>
              <br> <a class="headingrefForReview" href="#"> Write a Review</a>-->

              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Nicknamed as 'The Hub', home to numerous educational instiutions">About Us|
                </a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Financial Capital of World">Contact Us| </a>

              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Famous for it's casinos & resorts">Disclaimer |</a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Famous for it's casinos & resorts">Write a Review|</a>

            </div>
          </div>
        </div>
      </div>
      <!--Footer ends here-->
    </div>
  </div>
</div>
</body>
</html>
